In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# URL do dataset Wine
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

# Nome das colunas em português BR
column_names_pt_br = [
    'classe',
    'alcool',
    'acido_malico',
    'cinzas',
    'alcalinidade_de_cinzas',
    'magnesio',
    'fenois_totais',
    'flavanoides',
    'fenois_nao_flavanoides',
    'proantocianinas',
    'intensidade_de_cor',
    'matiz',
    'od280_od315_de_vinhos_diluidos',
    'prolina'
]


vinhos = pd.read_csv(url, names=column_names_pt_br, dtype={'classe': object})


X = vinhos.drop('classe', axis=1)


scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [2]:
from sklearn.cluster import KMeans


kmeans = KMeans(n_clusters=4, random_state=42)
vinhos['cluster'] = kmeans.fit_predict(X_scaled)


print(f'Inércia do modelo K-Means: {kmeans.inertia_}')

Inércia do modelo K-Means: 44.887604580852816

In [3]:

print("Distribuição dos clusters:")
print(vinhos['cluster'].value_counts())

Distribuição dos clusters:
cluster
2    59
1    50
0    36
3    33
Name: count, dtype: int64

In [4]:

comparacao_groupby = vinhos.groupby('cluster')['classe'].value_counts()
print("\nDistribuição de clusters em relação às classes originais (groupby):")
print(comparacao_groupby)

Distribuição de clusters em relação às classes originais (groupby):
cluster  classe
0        2         34
         1          2
1        3         48
         2          2
2        1         57
         2          2
3        2         33
Name: count, dtype: int64

In [5]:

comparacao_groupby = vinhos.groupby('cluster')['classe'].value_counts()
print("\nDistribuição de clusters em relação às classes originais (groupby):")
print(comparacao_groupby)

Distribuição de clusters em relação às classes originais (groupby):
cluster  classe
0        2         34
         1          2
1        3         48
         2          2
2        1         57
         2          2
3        2         33
Name: count, dtype: int64

In [6]:
comparacao_crosstab = pd.crosstab(vinhos['classe'], vinhos['cluster'])
print("\nDistribuição de clusters em relação às classes originais (crosstab):")
print(comparacao_crosstab)

Distribuição de clusters em relação às classes originais (crosstab):
cluster   0   1   2   3
classe
1         2   0  57   0
2        34   2   2  33
3         0  48   0   0